@()
@main("About Us"){
<main class=" min-h-screen    ">
<!--    <div class=" text-black text-5xl font-extrabold flex justify-center items-center">who we are...</div>-->
    <div class="flex justify-center items-center md:flex-row flex-col
  ">
        <div class=" max-w-3xl"> <img src="https://i.pinimg.com/564x/ad/80/14/ad80146c6e275d270c02daef66302b11.jpg " alt="" class="  h-full m-10  mr-72"></div>
        <div class=" gap-y-2   max-w-md flex flex-col" >
            <p class=" text-black font-mono  text-md p-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nisi placeat animi quisquam hic. Sint placeat dicta, ratione accusamus necessitatibus nihil, dolor ipsam natus consequuntur ut sequi, iure quasi labore?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores reprehenderit, porro et quisquam hic neque vitae aut consequatur, recusandae delectus illum, facere fugiat alias harum dignissimos laboriosam rem dolore dolorum!
                Lorem ipsum dolor sit amet, consec ea inventore explicabo, aut, nostrum architecto recusandae porro cupiditate sit iure blanditiis. Dolorem, animi alias!
            </p>
        </div>



    </div>



</main>

}